.container-fluid{
    background-color: crimson;
}
.col {
    background-color: cyan;
}
.col-6 {
    background-color: darkmagenta;
    border: 1px solid white;
    color: whitesmoke;
}
.col-md-4 {
    background-color:gray;
    border: 1px solid white;
    color: whitesmoke;
}